ul li {
  width: 24%;
  border: 1px solid #eee;
  margin: 15px 2px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0px 20px;
  padding: 0;
  list-style: none;
}

